<div class="row-fluid">
  <div class="container">

      <div class="row time-info">
        <div class="span12">

          <div class="today-seconds">
            <%= Item.today_seconds %> 
          </div>
          <div id="week-seconds">
            <%= Item.week_seconds %>
          </div>
          
          <h3>
            Today: <p id="today-time"><%= Item.today_time %></p>
            <p class="muted" style="display: inline;">and</p>
            This week: <p id="week-time"><%= Item.week_time %></p>
          </h3>

        </div>
      </div>

      <ul>
        <% @items.each do |item| %>
        <li>
          <div>
            <%= item.name %> &nbsp;/&nbsp;

            <% if item.recording_item %>
              <a class="stop-record" id="stop-record-<%= item.id %>"> Stop Recording </a>
              <a class="record" id="record-<%= item.id %>" style="display: none;"> Record Time </a>
            <% else %>
              <a class="stop-record" id="stop-record-<%= item.id %>" style="display: none;"> Stop Recording </a>
              <a class="record" id="record-<%= item.id %>"> Record Time </a>
            <% end %>
            
            <a class="muted remove-item" href="#">
              Remove item <i class="icon-remove"></i>
            </a>
            
          </div>

          <div class="progress progress-danger progress-striped">
            <% week_progress = (item.calculate_week_time * 100) / item.estimated_time %>
            <div class="bar" style="width: <%= week_progress %>%;"></div>
          </div>
        </li>
        <% end %>
      </ul>
      
      <div class="add-item-form">
        <hr>
        <h4 class="muted">New Item to be added</h4>
        <%= form_tag '#', :method => :get, :remote => true do %>
          <p>
            <%= text_field_tag :name, "name" %>
            <%= text_field_tag :estimated_time, "Estimated time per week (in minutes)" %>
            <%= submit_tag "crear", :name => nil %>
          </p>
        <% end %>
      </div>

      <a class="muted add-item" href="#">
        Add Item to the List <i class="icon-plus-sign"></i>
      </a>

      <a class="muted hide-item" href="#">
        Hide form <i class="icon-off"></i>
      </a>

    </div>
  </div>